/* Başlık altında kısa çizgisi olan başlık alanı */
.kisa-cizgili-baslik {
    padding-bottom: 20px;;
}
.kisa-cizgili-baslik::after {
    content:'';
    display: block;
    width: 50%;
    max-width: 80px;
    height: 4px;
    background-color: #f4ac1d;
}

.kisa-cizgili-baslik :is(h1, h2, h3, h4, h5, h6) {
    font-size: 22px;
    font-weight: 700;
}
.kisa-cizgili-baslik :is(h1, h2, h3, h4, h5, h6) span {
    color: #f4ac1d;
}

.kisa-cizgili-baslik p {
    line-height: 1.43;
    color: #1a1a1a;
    padding-bottom: 0;
}